name: Python CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          pip install cython numpy scipy pytest
      - name: Build
        run: |
          source venv/bin/activate
          python cython/setup.py build_ext
      - name: Run tests
        run: |
          source venv/bin/activate
          pytest
        env:
          PYTHONPATH: ${{github.workspace}}/build/lib.*